<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://img1.wsimg.com https://static.cloudflareinsights.com; connect-src 'self' https://lxywfmyoeovzthfmphbl.supabase.co wss://lxywfmyoeovzthfmphbl.supabase.co https://dbkcedktqhueqnulnosq.supabase.co wss://dbkcedktqhueqnulnosq.supabase.co https://jngoqsrxezzuloyhdyqv.supabase.co wss://jngoqsrxezzuloyhdyqv.supabase.co https://api.allorigins.win https://static.cloudflareinsights.com; img-src 'self' data: blob: https:; style-src 'self' 'unsafe-inline'; font-src 'self' data:; frame-src 'self' https:; media-src 'self' blob: https:;"
</IfModule>
